body {
    background: black;
}

.navbar .nav-link {
    font-size: .75em;
}

.custom-toggler {
    border: none;
  }

  .text-toggle[aria-expanded=false] .text-expanded {
    display: none;
  }
  .text-toggle[aria-expanded=true] .text-collapsed {
    display: none;
  }