body {
    background: rgb(255, 255, 255);
}

@media (min-width: 544px) {
    #title-responsive {font-size:3rem;} /*1rem = 16px*/
    #text-responsive {font-size:1rem;} /*1rem = 16px*/
}
   
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {  
    #title-responsive {font-size:3.5rem;} /*1rem = 16px*/
    #text-responsive {font-size:1.25rem;} /*1rem = 16px*/
  }
   
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    #title-responsive {font-size:4rem;} /*1rem = 16px*/
    #text-responsive {font-size:1.5rem;} /*1rem = 16px*/
  }
   
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    #title-responsive {font-size:5rem;} /*1rem = 16px*/    
    #text-responsive {font-size:1.75rem;} /*1rem = 16px*/    
  }

.navbar .nav-link {
    font-size: .75em;
}

.custom-toggler {
    border: none;
}

.text-toggle[aria-expanded=false] .text-expanded {
    display: none;
}
.text-toggle[aria-expanded=true] .text-collapsed {
    display: none;
}

.push-down {
    margin-top: 3em;
}

.card-background-yellow {
      background: hsl(0, 0%, 51%);
      background-image: radial-gradient(hsl(36, 100%, 68%),hsl(0, 0%, 85%));
}

.card-background-green {
    background: hsl(0, 0%, 51%);
    background-image: linear-gradient(hsl(0, 0%, 85%),hsl(194, 100%, 78%));
}

.card-style {
    border-radius: 0;
    padding: none;
    
}

.divider {
    border-bottom: .75em solid rgb(253, 254, 255);
}

.card {
    border:none;
}

.card-body {
    padding: 0px;
    margin: 0px;
}

.card-title {
    padding: 2em 1em 0em 1em;
    font-size: 3em;
    font-weight: 700;
    line-height: 1;
}

.card-desc {
    padding: 0 5em;
}

.card-buttons {
    margin: 5px 20px 20px 20px;
    border: none;
}

.btn-outline-dark:hover {
    background-color: rgba(0, 0, 0, 0);
    color:yellow;
}

.img-fluid {
    max-width: 50%;
}

